[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
[project]
name = "byrdocs_cli"
version = "0.0.1"
authors = [
  { name="Rikka", email="rikka@byr.inl" },
]
description = "A simple command line tool for BYR Docs"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]